body {
    margin: 0;
    background-color: #e1dcdc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/background.jpg);
    background-size: cover;
}

nav {
    background: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #e3dede;
    margin: 0 12px;
    text-decoration: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 120px;
    margin-left: 120px;
    text-align: left;
    font-size: 48px;
    line-height: 1.4;
    color: aliceblue;
}   

button {
    display: block;
    margin-left: 150px;
    padding: 10px 16px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
}

button a {
    font-size: 20px;
    color: rgb(255, 0, 0);
    text-decoration: none;
    margin-right: 8px;
}

button img {
    width: 25px;
    vertical-align: middle;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.image img{
    margin-top: 100px;
    margin-right: 100px;
    height: 500px;
    display: block;
    border-radius: 45px;
}

.about-body{
    margin-left: 80px;
    font-size: 30px;
    margin-right: 80px;
    color: #e1dcdc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    height: 250px;
    padding: 20px;
}

.education{
    margin-left: 80px;
    font-size: 30px;
    color: #ffffff;
    height: 550px;
    width: 500px;
    font-style: bold;
    border-radius: 45px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

.contact-icons{
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 100px;
}

.contact-icons a {
    text-decoration: none;
    text-align: center;
    color: white;
    margin-top: 220px;
    z-index: 2;
}

.contact-text{
    margin-top: 100px;
    font-size: 30px; 
    margin-left: 80px; 
    margin-right: 80px;
    color: #e1dcdc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    height: 250px;
    position: absolute;
    padding: 20px;
    z-index: 1;
}

.projects-text{
    margin-left: 80px;
    font-size: 30px;
    color: #ffffff;
    height: 550px;
    width: 80%;
    font-style: bold;
    border-radius: 45px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}